html {
   
    background: radial-gradient(circle,#121f42 4%,#1b2244 66%, #2a396b 98%);
    background-size: 300% 300%;
    animation: change 40s ease-in-out infinite;
}

@font-face {
    font-family: 'Wired';
    src: url('../fonts/Wired-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.title {
    font-family: 'Wired';
    font-size: 9em;
    background: linear-gradient( 
        to right, #a9aed8, #83a4fe, #cdd0f3,
         #55a5ff, #ffffff); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
        max-width: 100%;
}

h2 {
font-family: 'helveticaneue';
text-align: center;
font-size: 1em;
margin: 2em;
overflow: hidden;
background: linear-gradient(90deg, rgb(255, 255, 255), rgb(80, 112, 200), rgb(34, 104, 255));
background-repeat: no-repeat;
background-size: 80%;
animation: animate 4s linear infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hofmann';
    flex-direction: column;
}

#demo {
    font-family: 'wired';
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 3em;
}

.image {
   -webkit-filter: invert(100%);
    filter: invert(100%);
    display: flex;
    justify-content: center;
}

img {
    width: 1000px;
}
/* Text Glow */ 
.confirm_selection {
    animation: glow .5s infinite alternate;
}



/* animation */
@keyframes change {
    0% {
    background-position: 0 50%;
  }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
  
      } }

/*glow*/
    
@keyframes glow {
        to {
            text-shadow: 0 0 6em #ffffff;
        }
    }


    @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }}


        @media only screen and (max-width: 1170px) {
            html {
                max-width: 100%;
            }

            .title {
                font-size: 3em;
                margin-top: 1em;
            } 

          #demo {
              font-size: 2em;
          }

          img {
              width: 400px;
          }

        }
